header{
    background-color: aquamarine;
}
.box{
    padding: 0px 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logoImg{
    margin-right: 10px;
    width: 50px;
    height: 50px;
}
.nameSite{
    color: black;
    white-space: nowrap;
}
.button{
    margin-right: 5px;
    font-size: 13px;
    text-decoration: none;
    color: #fff;
    background-color: cadetblue;
    padding: 8px 25px;
    transition: 0.5s all;
    border: none;
}
.button:hover{
    background-color: rgb(255, 162, 0);
    cursor: pointer;
    color: #000;
    transition: 0.5s all;
}

.inputsearch{
    padding: 8px 18px;
    border: none;
    outline: none;
}
.search{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 25px 50px;
}

@media (max-width: 1050px){ 
    .nameSite{
        font-size: 20px;
    }
}
@media (max-width: 900px){
    .box{
        margin: 0px 10%;
    }
    .search{
        padding: 25px 20px;
    }
} 
@media (max-width: 720px){
    .box{
        flex-wrap: wrap;
        padding: 0px 5%;
    }
    .search{
        padding: 10px 10px;
    }
}
@media (max-width: 620px){
    .inputsearch{
        width: 100%;
    }
    .search{
        width: 100%;
        padding: 10px 10px;
    }
    .box{
        margin: 0px 0px;
        padding: 20px 10%;
        justify-content: center;
    }
}
@media (max-width: 360px){
    .box{
        padding: 20px 5px;
    }
}