footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 15%;
    background-color: aquamarine;
}
.imagesLogo{
    width: 60px;
    height: 60px;
    margin: 5px;
}
.category{
    display: flex;
    flex-direction: column;
}
.logo{
    display: flex;
    align-items: center;
}
.pages{
    display: flex;
    flex-direction: column;
}