.global{
    display: flex;
    padding: 0px 15%;
    justify-content: space-around;
}
.boxImg{
    display: flex;
}
.imageItem{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    margin: 20px;
}
.foto{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width:200px;
    max-height: 200px;
    margin: 20px 20px;
    transition: opacity .5s;
}
.foto:hover ~ .del{
    opacity: 1;
    transition: opacity .5s;
}
.del:hover{
    opacity: 1;
    transition: opacity .5s;
}
.app{
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    margin: 20px 20px;
    width: 200px;
    height: 200px;
    font-weight: bold;
    background-color: antiquewhite;
    transition: all .5s;
}
.app:hover {
    background-color: rgb(245, 163, 55);
    transition: all .5s;
}
.del{
    display: flex;
    opacity: 0;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    margin: 20px 20px;
    width: 200px;
    height: 200px;
    font-weight: bold;
    background-color: rgb(132, 34, 34);
    color: white;
    position: absolute;
    transition: opacity .5s;
}

.box{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.input{
    padding: 5px 15px;
    margin-bottom: 10px;
    margin-left: 20px;
    border: solid 1px #21f4f2;
    border-radius: 8px;

}
.errors{
    color: red;
    font-size: 17px;
    font-weight: bold;
    margin: 10px
}
.item{
    display: flex;
    justify-content: space-between;
}
.button{
    display: flex;
    justify-content: center;
    margin-right: 5px;
    font-size: 13px;
    text-decoration: none;
    color: #fff;
    background-color: cadetblue;
    padding: 8px;
    transition: 0.5s all;
    border: none;
    border-radius: 8px;
    margin-bottom: 15px;
}
.button:hover{
    background-color: rgb(255, 162, 0);
    cursor: pointer;
    color: #000;
    transition: 0.5s all;
}